# macOS and Xcode-specific
*.xcuserstate
*.xcworkspace
*.xcodeproj/
*.xcuserdata/
*.xcconfig
*.plist
*.entitlements
.DS_Store

# Windows-specific
*.sln
*.vcxproj*
*.vcxproj.filters

# Build artifacts
bin/
build/
*.app
*.exe
*.log
*.o
*.obj
*.swp
*.swo

# IDEs
.idea/
.vscode/

# Media
*.mov
*.mp4
